.logo_place_footer {
    background-image: url(../../../images/logo_place_footer.svg);
    background-size: cover; /* Поскольку дефолтный width="184", то умещает svg-файл с сохранением пропорций */
    height: 35px;
  }
