.video__iframes {
    margin: 0px; /*обнуляем для соответствия брифу, так как блоки смещены на 50px вниз */
    display: flex;
    position: relative; /* при использовании margin-bottom: -60px; - не работает на Сафари */
    top: 50px; /* при использовании margin-bottom: -60px; - не работает на Сафари */
  }
