.header__title {
    padding: 0;
    margin: 0;
    margin-left: 64px; /* исправлено позиционирование */
    max-width: 730px;
    font-size: 102px;
    font-weight: bold;
    line-height: 96px;
    color: #000000;
    z-index: 2; /* поверх остальных элементов! */
  }
